@import '../../../../assets/variables';

@include keyframes(appear) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  &_mount {
    @include animation('appear 0.3s ease alternate');
  }
  &_unmount {
    transition: 0.3s;
    opacity: 0;
  }
}
