@import './../../../assets/variables';

@include keyframes(appear) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item {
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__hint {
    position: absolute;
    width: 100%;
    height: 100%;
    &::before {
      z-index: 5;
      position: absolute;
      display: block;
      content: '';
      height: 100%;
      width: 100%;
    }
    &_info {
      &::before {
        background: url(../../../img/loupe.png) center no-repeat;
        transform: scale(0);
        transition: transform 0.3s, bottom 0.3s;
        bottom: -100px;
      }
      &:hover {
        background-color: rgb(66, 83, 124, 0.5);
      }
      &:hover::before {
        transform: scale(1);
        bottom: 0px;
      }
    }
    &_added {
      display: block;
      @include animation('appear 0.3s ease');
      background-color: rgb(154, 84, 91, 0.5);
      &::before {
        left: 0;
        top: -10%;
        background: url(../../../img/added.png) center / 25% no-repeat;
        @media screen and (max-width: 480px) {
          top: -12%;
          background-size: 60px;
        }
      }
      &-big {
        &::before {
          @media screen and (max-width: 768px) {
            background-size: 120px;
          }
          @media screen and (max-width: 480px) {
            top: -12%;
            background-size: 70px;
          }
        }
      }
    }
    &-title {
      width: 100%;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      position: absolute;
      bottom: 25%;
      &_big {
        font-size: 3rem;
      }
    }
  }
}
