.btn {
  font-size: 1.5rem;
  padding: 1px 20px 1.5px;
  color: #fff;
  border-radius: 15px;
  background-color: #9a545b;
  transition: 0.3s ease;
  text-transform: uppercase;
  &_big {
    // letter-spacing: -1px;
    font-size: 2rem;
    // padding: 2px 20px;
    border-radius: 25px;
  }
  &:hover {
    box-shadow: inset 0 0 16px 0 rgb(0 0 0 / 36%);
  }
}
