.order {
  display: flex;
  justify-content: center;
  align-items: center;
  &__price {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 7.5px;
    display: flex;
    align-items: center;
  }
  &__cost {
    margin-top: -1px;
  }
  &__rouble {
    margin-left: 5px;
    font-weight: 500;
    font-size: 1.9rem;
    position: relative;
    &::before {
      display: block;
      position: absolute;
      bottom: 8px;
      right: 9px;
      content: '';
      width: 8px;
      height: 2px;
      background-color: #000;
    }
  }
  &__btn {
    margin-top: 3px;
    margin-left: 7.5px;
    & button {
      font-size: 1.3rem;
      font-weight: 500;
      padding: 3px 25px;
      color: #fff;
      border-radius: 15px;
      background-color: #9a545b;
    }
  }
}
