.item {
  vertical-align: top;
  display: inline-block;
  width: 29px;
  height: 49px;
  background: url(../../../../../../img/nutr@2x.png) 100% / cover no-repeat;
  text-align: center;
  font-weight: 500;
  &__title {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
    color: #000;
  }
  &__count {
    font-size: 0.9rem;
    height: 29px;
    line-height: 29px;
  }
}
