.ingredients {
  font-size: 1.2rem;
  margin-left: -3px;
  & span {
    margin-left: 3px;
    white-space: nowrap;
  }
  &__item {
    display: inline-block;
    &:first-child {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
