@import '../../assets/variables';

.header {
  &__wrapper {
    height: 60px;
    background-color: #2f3b58;
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: $container-padding;
    box-shadow: 0px 3px 5px 2px #00000078;
  }
  &__navigation {
    //? Добавил свойство просто чтобы не удалять селектор
    flex: 0 0 auto;
  }
  &__cart {
    //? Добавил свойство просто чтобы не удалять селектор
    flex: 0 0 auto;
  }
}
