@import '../../../assets/variables';

@include keyframes(shake) {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@include keyframes(appear) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  cursor: default;
  pointer-events: none;
}

.cart {
  position: relative;
  height: 100%;
  background-color: transparent;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  transition: 0.3s ease-out;
  box-shadow: inset 0px 0px 10px 3px rgb(0 0 0 / 50%);
  border-radius: 100px;
  @media screen and (max-width: 1024px) {
    width: 200px;
  }
  @media screen and (max-width: 480px) {
    width: 80px;
  }
  &:hover {
    box-shadow: inset 0px 0px 5px 5px #ffffff85;
  }
  &__label {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 6px;
    left: 20px;
    background: url(../../../img/cart.png) 10% 50% no-repeat;
    &_active {
      @include animation('shake 0.6s ease-in-out');
    }
  }
  &__count {
    @include animation('appear 0.6s ease-in-out');
    top: -2px;
    left: -10px;
    position: absolute;
    text-align: center;
    line-height: 25px;
    font-size: 1rem;
    height: 25px;
    width: 25px;
    background-color: #9a545b;
    border-radius: 50%;
    z-index: 10;
  }
  &__description {
    padding: 0 20px;
  }
  &__title {
    margin-top: 3.4rem;
    font-size: 2rem;
    transition: 0.3s;
    &_up {
      margin-top: 0.3rem;
    }
  }
  &__price {
    word-break: none;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 1s, margin-top 0.3s;
    &_up {
      opacity: 1;
      margin-top: 0.3rem;
    }
  }
}
