@import '../../../assets/variables';

@include keyframes(appear) {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.wrapper {
  @include animation('appear 0.5s alternate both');
}

.list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 31.3333%;
    margin: 1%;
    &_info {
      flex: 0 0 98%;
      margin: 1%;
    }
  }
}
