@import './assets/variables';

// xs: 0,
// sm: 480px,
// md: 768px,
// lg: 1024px

@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 12px;
  }
}

body {
  overflow-y: scroll;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $RobotoSlab, Arial, sans-serif;
}

.headerContainer {
  flex: 0 0 60px;
}

.mainContainer {
  flex: 1 0 auto;
}

.footerContainer {
  flex: 0 0 75px;
  background-color: #2f3b58;
  padding: $container-padding;
}
