// select color: #9a545b;

.item {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #aaa9a9;
  &_viewed::after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -11.5px;
    width: 20px;
    height: 20px;
    border-right: 2px solid #aaa9a9;
    border-bottom: 2px solid #aaa9a9;
    background-color: rgb(255, 255, 255);
  }
  &__img {
    @media screen and (max-width: 480px) {
      height: 150px;
    }
  }

  &__title {
    letter-spacing: -0.5px;
    flex: 1 0 auto;
    margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding: 0 15px;
    text-align: center;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../../../../img/sprite2.png) no-repeat;
    background-size: 139px 235px;
    height: 30px;
    width: 30px;
    &_vegan {
      background-position-x: 0px;
    }
    &_hot {
      background-position-x: -35px;
    }
    &_new {
      background-position-x: -72px;
    }
    &_hit {
      background-position-x: -108px;
    }
  }

  &__order {
    margin-top: 15px;
    padding: 0 10px;
  }
}
